
@media only screen and (max-width:415px){
    body{
        font-family: "Monserrat", sans-serif;
        padding: 0.5rem;
        margin: 0.3rem;
    }
    .grid_mainContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(7,auto);
        grid-template-areas:
        "main_header main_header main_header"
        "aside1 p2 p2"
        "aside1 p3 p3"
        "aside1 p4 p4"
        "footer footer footer";
    }
    .main_header{
        grid-area:main_header;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(238, 236, 236);

    }
    #main_start ul{
        display: flex;
        list-style: none;
        justify-content: space-between;


    }
    #main_start ul li{
        padding-left: 0.5rem;
    }
    #main_start input{
        border: olivedrab 2px solid;

    }

    .main_header #logo{
        padding-left: 1rem;

    }
    .main_header #logo img{
        width: 90%;
        height: auto;
        max-width: 100%;
    }
    .main_header #logo #block_menu{
        display: none;
        z-index: 1;
        position:absolute;
        list-style: none;
        background-color: rgb(121, 119, 119);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
        width: 50%;
        height: auto;
        aspect-ratio: 1;
        left: 6em;
        top: 4em;

    }
    .main_header #logo #block_menu li a{
        font-weight: 600;
        padding: 1rem;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
    }
    .main_header #logo #block_menu li a:hover{
        background-color: rgb(252, 250, 250);
        color: black;
    }
    .aside1{
        grid-area: aside1;
        background-color: #e4edf5;
    }
    .aside1 .aside_menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

    }
    .aside1 .aside_menu #oppgaver{
       text-align: center;
       padding-right: 50%;
       padding-left: 50%;
    }
    .aside1 .aside_menu #sites_lan{
        padding-right: 50%;
        padding-left: 50%;
        text-align: center;
    }

    .aside1 .aside_menu #oppgaver li a{
        text-decoration: none;
        color: rgb(10, 10, 10);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }
    .aside1 .aside_menu #oppgaver li a:hover{
        background-color: rgb(73, 69, 69);
        color: rgb(253, 250, 250);
    }
    .aside1 .aside_menu #sites_lan a:hover{
        background-color: rgb(73, 69, 69);
        color: rgb(253, 250, 250);
    }

    .aside1 .aside_menu #oppgaver{
        list-style: none;

    }
    .aside1 .aside_menu #sites_lan{
        list-style: none;
    }
    .aside1 .aside_menu #sites_lan a{
        text-decoration: none;
        color: rgb(10, 10, 10);
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer{
        grid-area: footer;
        background-color: rgb(33, 165, 218);
    }
    .footer .media .links{
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    .footer .media .links a{
        color:#ffff;

    }
    .footer .media .links img{
        width: 10rem;
        height: auto;
    }
    .footer .last{
        display: flex;
        justify-content: center;
        align-items: center;
        color:rgb(49, 48, 48);

    }

    .p2{
        grid-area: p2;
        position: relative;



    }
    .p2 .bkg-video{
        display: flexbox;
        position: absolute;
        width: 100%;
        /* z-index: -1; */
    }
    .p3{
        grid-area: p3;
        background-color: rgb(247, 245, 248);
    }
    
    .p4{
        grid-area: p4;
        background-color: rgb(247, 245, 248);
    }




}



