
@media only screen and (min-width:769px){
    .grid_mainContainer{
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "main_header main_header"
        "main_aside main_body"
        "main_footer main_footer";
        font-family: "Montserrat", sans-serif;
        /* font-optical-sizing: auto; */
    }
    .main_header{
        grid-area: main_header;
        background-color:#e7e5e5 ;
    }
    .main_header #main_start{
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 1.5rem;
    
    }
    .main_header #main_start img{
        width:20%;
    }
    .main-off-screen-menu{
        background-color: rgb(34, 37, 49);
        height: 100vh;
        width:100%;
        max-width: 380px;
        position: fixed;
        top:1rem;
        right:-380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition:.3s ease;
    
    }
    .main-off-screen-menu span{
        padding-top: 1.2rem;
    }
    .main-off-screen-menu a{
        text-decoration: none;
        color:#ffff;
    }
    .main-off-screen-menu.active{
        right: 0;
    }
    .main-off-screen-menu.active span{
        padding-top: 1.2rem;
    
    }
    
    .main-off-screen-menu.active a{
        text-decoration: none;
        color:#ffff;
        
    }
    #oppgave1Menu .oppgave1{
        display: none;
    }
    #oppgave2Menu .oppgave2{
        display: none;
    }
    #oppgave3Menu .oppgave3{
        display: none;
    }
    #oppgave4Menu .oppgave4{
        display: none;
    }
    #oppgave5Menu .oppgave5{
        display: none;
    }



    .aside1{
        grid-area:main_aside ;
       

        margin: 0 2rem 0 0;

    }
    .aside_menu #sites_lan{
        list-style: none;
        
    }
    .aside_menu #sites_lan li{
        padding: 0 .5rem 1.9rem 0;
     

    }
    .aside_menu #sites_lan li a{
        text-decoration: none;
        color:black;
        font-size: 1.7rem;
        font-weight: 700;
        display: flex;
    }
    .aside_menu #sites_lan li a:hover{
        transition: all .3s ease-out;
        background-color: #e7e5e5;
        padding:0 4px 0 4px;

        
    }
    .aside_menu #sites_lan li i{
        color: black;
    }
    .main_body{
        grid-area:main_body ;
        padding:1.2rem 0 0 0;
        display: block;
    }
    .main_body .p2{
        display: flex;
        justify-content: center;
    }
    .main_body .p2 .bkg-video{
        width: 50%;
    }
    .main_body .p3{
        display: flex;
        justify-content:center;
        padding: 0.5rem 0 0 0;
    }
    .main_body .p3 span{
        padding: 0 .5rem;
    }
    
    .p3 span img{
        width: 25em;
        height: auto;
        aspect-ratio: 1/1;
    }
    .p4{
        padding: 0 4.5rem 0 4.5rem;
    }

    .p4 .art4 h3{
        font-size: 1.7rem;
    }
    .p4 .art4 p{
        font-size: 1.2rem;
    }
    .footer{
        grid-area:main_footer ;
        padding: 1.125rem 0 1.125rem 0;
        background-color:#e7e5e5 ;
    }
    .footer .media .links{
        text-decoration: none;
        list-style: none;
        display: flex;
        justify-content: center;
    }
    .footer .media .links li{
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    }
    .footer .media .links li a{
        font-size: 1.5rem;
        color:#ffff;
    }
    .footer .last{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
    }
    


}

@media only screen and (max-width:768px){
    /* tablet og mobiltelefoner */
    body{
        font-family: "Monserrat", sans-serif;
        padding: 0.5rem;
        margin: 0.3rem;
    }
    .grid_mainContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(7,auto);
        grid-template-areas:
        "main_header main_header main_header"
        "aside1 p2 p2"
        "aside1 p3 p3"
        "aside1 p4 p4"
        "footer footer footer";
        
    }
    .main_header{
        grid-area:main_header;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: .5rem;
    }
    #main_start{
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    }
    .main_logo_codeMe{
        width: 50%;
    }
    .main-off-screen-menu{
        background-color: rgb(34, 37, 49);
        height: 100vh;
        width:100%;
        max-width: 380px;
        position: fixed;
        top:0;
        right:-380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition:.3s ease;

    }
    .main-off-screen-menu span{
        padding-top: 1.2rem;
    }
    .main-off-screen-menu a{
        text-decoration: none;
        color:#ffff;
    }

    .main-off-screen-menu.active{
        right: 0;
    }
    .main-off-screen-menu.active span{
        padding-top: 1.2rem;

    }

    .main-off-screen-menu.active a{
        text-decoration: none;
        color:#ffff;
        
    }
    .main_header #logo{
        padding-left: 1rem;

    }
    .main_header #logo img{
        width: 90%;
        height: auto;
        max-width: 100%;
    }

    .aside1{
        grid-area: aside1;
       
    }
    .aside1 #sites_lan li{
        padding: 0 .4rem .4rem 0;

    }

    .aside1 #sites_lan li a{
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        border-radius: 10%;
       
    }


    .aside1 #sites_lan #l1{
        background-color: #174d7c;
        color: #ffff;
        font-weight: 600;
    } 
    .aside1 #sites_lan #op1{
        font-weight: 600;

    }
    
    .aside1 .aside_menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

    }
 
    .aside1 .aside_menu #sites_lan{
        padding-right: 50%;
        padding-left: 50%;
        text-align: center;
    }


    .aside1 .aside_menu #oppgaver li a{
        text-decoration: none;
        color:#ffff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        border: #536753 1px solid;
        border-radius: 10%;
        background-color:#174d7c;
    }



    .aside1 .aside_menu #sites_lan{
        list-style: none;
    }
    .aside1 .aside_menu #sites_lan a{
        text-decoration: none;
        color: rgb(10, 10, 10);
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .footer{
        grid-area: footer;
        background-color: rgb(19, 59, 236);
    }
    .footer .media .links{
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    .footer .media .links li{
        padding: 1rem;
    }
    .footer .media .links a{
        color:#ffff;

    }
    .footer .media .links img{
        width: 10rem;
        height: auto;
    }
    .footer .last{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .footer .last p{
        color:#ffff;
        font-weight: 600;
        text-align: center;
    }

    .p2{
        grid-area: p2;
        padding-top:1rem;
    }
    .p2 .bkg-video{
        
    
        display: flexbox;
        width: 100%;
        align-content: center;
        justify-content: center;

        /* z-index: -1; */
    }
    .p3{
        grid-area: p3;
        background-color:#ffff;
        display: flexbox;
        justify-content: center;
    }
    .p3 img{
        width: 100%;
        height: auto;
    }
    .p3 #nomobil{
        display: none;
    }

    
    .p4{
        grid-area: p4;
        background-color: #ffff;
        display: flexbox;
    }
    .p4 .art4{
        padding: .2rem;
        background-color: aqua;

    }
    .p4 .art4 p{
        text-align: center;
        font-size: 1.1rem;
    }
    .oppgave1{
        display: none;
        z-index: 1;
        position:absolute;
        list-style: none;
        background-color: rgba(74, 74, 75, 0.9);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
        width: 50%;
        left: 9em;
        top: 19em;
        border-radius: 10px;
    }
    .oppgave1 li{
        padding: 0.4rem 0 .4rem 0;
    }
    .oppgave1 li a{
        text-decoration: none;
        color:rgb(250, 249, 249);
        font-weight: 600;
        font-size: 1.4rem;
    }

    .oppgave2{
        display: none;
        z-index: 1;
        position:absolute;
        list-style: none;
        background-color: rgba(74, 74, 75, 0.9);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
        width: 50%;
        left: 9em;
        top: 22em;
        border-radius: 10px;
    }
    .oppgave2 li{
        padding: 0.4rem 0 .4rem 0;
    }
    .oppgave2 li a{
        text-decoration: none;
        color:rgb(250, 249, 249);
        font-weight: 600;
        font-size: 1.4rem;
    }
    .oppgave3{
        display: none;
        z-index: 1;
        position:absolute;
        list-style: none;
        background-color: rgba(74, 74, 75, 0.9);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
        width: 50%;
        left: 9em;
        top: 26em;
        border-radius: 10px;

    }
    .oppgave3 li{
        padding: 0.4rem 0 .4rem 0;
    }
    .oppgave3 li a{
        text-decoration: none;
        color:rgb(250, 249, 249);
        font-weight: 600;
        font-size: 1.2rem;
    }
  
    .oppgave4{
        display: none;
        z-index: 1;
        position:absolute;
        list-style: none;
        background-color: rgba(74, 74, 75, 0.9);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
        width: 50%;
        left: 9em;
        top: 26em;
        border-radius: 10px;
    }
    .oppgave4 li a{
        text-decoration: none;
        color:rgb(250, 249, 249);
        font-weight: 600;
        font-size: 1.2rem;

        
    }
    .oppgave4 li{
        padding: 0.4rem 0 .4rem 0;
    }
    .oppgave5{
        display: none;
        z-index: 1;
        position:absolute;
        list-style: none;
        background-color: rgba(74, 74, 75, 0.9);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
        width: 50%;
        left: 9em;
        top: 26em;
        border-radius: 10px;

    }
    .oppgave5 li{
        padding: 0.4rem 0 .4rem 0;

    }
    .oppgave5 li a{
        text-decoration: none;
        color:rgb(250, 249, 249);
        font-weight: 600;
        font-size: 1.2rem;

    }

    /* IM-skole mobile -------------------------------------------------------------- */
    .imskole-container{

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,auto);
        grid-template-areas:
        "imsk_header"
        "imsk_body"
        "footer";

    }
    .header_imsk{
        grid-area:imsk_header;
       
        
       
    }
    .imsk-off-screen-menu{
        background-color: rgb(34, 37, 49);
        height: 100hv;
        width:100%;
        max-width: 450px;
        position: fixed;
        top:0;
        right:-450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition:.3s ease;

    }
    .imsk-off-screen-menu #menu4 a{
      text-decoration: none;
      color:#ffff;
    }
    .imsk-off-screen-menu.active{
        right: 0;
        color: white;

    }
    .imsk-off-screen-menu.active #menu4 a{
        text-decoration: none;
        color: #ffff;
    }
    .imskole_codeMe{
        width: 50%;
    }
   

    
    .menu_imsk{
        display: flex;
        align-items: center;
        justify-content:space-between;

        
    }
    
    .menu_imsk ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .imsk_body{
        grid-area:imsk_body;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .intro-IMskole{
        margin: 0 10% 0 10%;
        font-family: "Monserrat", sans-serif;
        font-size: 1.2rem;
        
    }
    .intro-IMskole h3{
        text-align: center;
    }
    .intro-IMskole p{
        /* text-align: center; */
        text-wrap: wrap;
    }
    .imsk_body_img{
        display: flex;
        margin-right: 10%;
        
    }
   
    .imsk_body_img ul{
        list-style: none;
        display: flex;
        flex-direction: column;
 
    }
    .imsk_body_img ul li img{
        width: 100%;
        height: auto;
    
    }
   

    .imsk_footer{
        grid-area:footer;
        background-color: rgb(19, 59, 236) ;
        padding: 1.2rem;

    }
    .imsk_footer_icons{
        display: flex;
        justify-content: center;

    }

    .imsk_footer_icons a{
       color: #ffff;
       padding: 0.5rem;
    }
  /* ---------------------min side mobile-------------------------- */


    .min_sideContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,auto);
        grid-template-areas:
        "minSide_header"
        "minSide_body"
        "Minside_footer";
        box-sizing: border-box;
      
    }
    .minSide_header{
        grid-area:minSide_header;

    }
    .minSide_header .minSide_menu{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    .minSide_header .minSide_menu img{
        width: 50%;
    }
    .minSide-off-screen-menu{
        background-color: rgb(34, 37, 49);
        height: 100hv;
        width:100%;
        max-width: 450px;
        position: fixed;
        top:0;
        right:-450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition:.3s ease;

    }
    .minSide-off-screen-menu a{
        text-decoration: none;
        color:#ffff;
    }

    .minSide-off-screen-menu.active{
        right: 0;
        color:#ffff;
    }
    .minSide-off-screen-menu.active a{
        text-decoration: none;
        color: #ffff;
    }
    .minSide_body{
        grid-area:minSide_body ;
    }

    .minSide_footer{
        grid-area: Minside_footer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(19, 59, 236) ;
    }
    .innlogging{
        display: flex;
        flex-direction:column ;
        justify-content: center;
        align-items: center;
        
    }
    .form_name #navn{
        font-size: 1.4rem;
    }

    .form_pass #passord{
        font-size: 1.4rem;
    }
 
    .minSide_footer{
        grid-area:Minside_footer;



    }
    .minSide_footer_icons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 1.2rem;

    }

    .minSide_footer_icons #sign_footer{
        padding:0.3rem;
        text-align: center;
        color:#ffff;
        font-weight: 600;

    }
    #logoFooter{
        color: #ffff;
        padding:0.3rem;
    }












 





}



